.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-envelope-hover {
  width: 1.3330078125em;
}

.icon-smartphone {
  width: 0.625em;
}

.icon-brand {
  width: 1.34375em;
}

.icon-company {
  width: 0.875em;
}

.icon-companytitle-none {
  width: 1.0625em;
}

.icon-foster {
  width: 2.03125em;
}

.icon-logo {
  width: 1.78125em;
}

.icon-tagline {
  width: 2.09375em;
}
